.navbar{
    background-color: rgba(29, 99, 125, 0.263);
}
.form-group{
    background-color: #6cd250;
    padding-left:450px ;
    size-adjust: box size;
    position: relative;
    
   
 }