
.form-group{
    background-color: #455875;
    padding-left:450px ;
    size-adjust: box size;
    position: relative;
    
   
 }
 .navbar{
    background-color: rgba(29, 99, 125, 0.263);
 }

